@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.dark .ql-toolbar.ql-snow {
  border-color: #334155 !important; /* border-slate-700 */
  background-color: #1e293b; /* bg-slate-800 */
}

.dark .ql-container.ql-snow {
  border-color: #334155 !important;
  background-color: #0f172a; /* bg-slate-900 */
  color: #f8fafc; /* text-slate-50 */
}

.dark .ql-snow .ql-stroke {
  stroke: #cbd5e1 !important; /* text-slate-300 */
}

.dark .ql-snow .ql-fill, 
.dark .ql-snow .ql-stroke.ql-fill {
  fill: #cbd5e1 !important;
}

.dark .ql-snow .ql-picker {
  color: #cbd5e1 !important;
}

/* Ajusta o hover dos botões no dark mode */
.dark .ql-snow.ql-toolbar button:hover .ql-stroke,
.dark .ql-snow .ql-toolbar button:hover .ql-stroke,
.dark .ql-snow.ql-toolbar button:focus .ql-stroke,
.dark .ql-snow .ql-toolbar button:focus .ql-stroke {
  stroke: #818cf8 !important; /* text-indigo-400 */
}